/**
 * Shift.php : all funtion pertaining to database request -> for shift
 * Auteur: Gogniat Michael / Paola Costa
 * Date: Decembre 2020
 **/

/** SH means styles are only used for Shift **/

/** dropdowns for Info in the page showshift (at the top) **/
.SH_dropdownInfo {
    width: 80px;
    margin: 3px 10px 3px 10px;
}

/** update button for Info in the page showshift (at the top) **/
#SH_updateInfoBtn{
    top: 50px;
    display: none;
}

/** title for sections in the page showshift **/
.SH_sectionName{
    font-size: x-large;
    font-weight: bold;
    display: block;/** used for good display in the pdf **/
}

/** title for actions in the page showshift **/
.SH_actionName{
    display: inline;
}

.SH_actionCase{
    width: 300px;
}

.SH_checkCase{
    width: 110px;
}


/** carryOn button for shiftcomment **/
.carry .carried {
    display: inline;
}
.carry .addCarry {
    display: none;
}
.notCarry .carried {
    display: none;
}
.notCarry .addCarry {
    display: none;
}
.notCarry .addCarry:hover {
    display: inline;
}
.notCarry:hover .addCarry {
    display: inline;
}